################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Assigment1_WebForms_ASPNET/v15/Server/sqlite3
