body {
    background-color: #ecf4ff;
}

header {
    font-family: Tahoma;
    font-size: xx-large;
    padding: 5px 10px;
    height: 100px;
    width: 100%;
    background-color: steelblue;
    color: white;
    margin-bottom: auto;
    top: 0;
}

footer {
    font-family: Tahoma;
    font-size: smaller;
    background-color: steelblue;
    color: white;
    height: 20px;
    width: 100%;
    margin-top: auto;
    position: relative;
    bottom: 0;
}

div {
    clear: both;
}

a {
    font-family: Tahoma;
    font-size: smaller;
    color: white;
    padding: 1px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:link, a:visited {
    background-color: blue;
}

a:hover, a:active {
    background-color: lightsteelblue;
    cursor: pointer;
}

.lblBoldUpperXXS {
    font-weight: bold;
    font-size: xx-small;
    text-transform: uppercase;
    font-family: Tahoma;
    text-decoration: none;
    vertical-align: middle;
}

.lblError {
    color: darkred;
    font: bolder;
    font-family: Tahoma;
    font-size: smaller;
}


.TextBox {
    font-family: Tahoma;
    font-size: 11px;
    vertical-align: middle;
    width: 150px;
}

.RequiredField {
    font-family: Tahoma;
    font-size: 11px;
    vertical-align: middle;
    vertical-align: middle;
    background-color: #B8E0FE;
}

.ButtonBlue11px {
    background-color: blue;
    color: white;
    border: none;
    padding: 1px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 11px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Tahoma;
    width: 80px;
}


.ButtonBlue11pxDisable {
    background-color: gray;
    color: white;
    border: none;
    padding: 1px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 11px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Tahoma;
    width: 80px;
}


td {
    width: 155px;
    height: 12px;
}